<div class = "main">
	<div class = "container">
		<h1>Michael Wu</h1>
		<p1>EY</p1>
		<p2>FSO Advisory</p2>
	</div>

	<br>

	<div class = "info">
		<p1><i>This is the landing page for Michael Wu</i>.</p1>
	</div>

	<div class = "LinkedIn">
		<a href="https://au.linkedin.com/pub/michael-wei-cong-wu/49/385/34">
      
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80" height="15" border="0" alt="View Michael Wei Cong Wu's profile on LinkedIn">
  
    	</a>
	</div>
</div>